* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}
.top {
    height: 60px;
    background: rgb(26, 190, 191) url("images/logo.png") no-repeat center center;
}

.nav {
    height: 40px;
    background-color: rgb(239, 239, 239);
}

.content {
    width: 1000px;
    /* height: 1400px; */
    margin: 0 auto;
    /* background-color: rgb(235, 235, 235); */
}

.bottom {
    /* height: 300px; */
    margin-top: 15px;
    background-color: rgb(81, 81, 81);
}





/* <div class="feedback row">
            <img src="images/small_weixin.png">
            <p>sdafdsafdsafsdafds</p>
            <p>sdafdsafdsafsdafds</p>
        </div> */
/* .feedback {
    border: 1px solid aqua;
}

.row::after {
    display: table;
    content: "";
    clear: both;
}
.feedback img {
    float: left;
} */