.header {
    height: 70px;
    border: 1px solid black;
}

.nav {
    display: inline-block;
    height: 70px;
    width: 300px;
    /* border: 1px solid aqua; */
    position: relative;
    margin-left: 260px;
}
.nav-logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f56600 url("images/mi-logo.png") no-repeat center center;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(0, -50%);
}

.nav span:nth-of-type(2) {
    display: inline-block;
    margin-left: 75px;
    /* margin-top: 5px; */
    /* margin-top: 5px; */
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 6px;
}

.nav span:nth-of-type(3) {
    margin-left: 70px;
    font-size: 12px;
    /* letter-spacing: -1px; */
}
/* .nav span:n {
    margin-left: 100px;
} */

.bg {
    height: 600px;
    width: 100%;
    background: url("images/banner.png") no-repeat;
    background-position-x: -130px;
    position: absolute;
    top: 70px;
    z-index: -1;
}

/* ------------bottom---------- */
.bottom {
    width: 100%;
    position: absolute;
    top: 700px;
    text-align: center;
    font-size: 13px;
}

.bottom a {
    margin-left: 8px;
    margin-right: 8px;
}
.bottom p {
    margin-top: 5px;
}