/*---------------------样式设计----------------- */

* {
    margin: 0px;
    padding: 0px;
}

/*---------------------布局设计----------------- */

div.container {
    width: 900px;
    margin: 0px auto;
    overflow: hidden;
}

/*----------页头----------*/

div.nav {
    display: block;
    height: 70px;
    width: 900px;
    background-color: rgb(66, 185, 206);
}

/* 页头左边部分 */
div.nav-left {
    float: left;
}

div.nav-left h1 {
    margin-left: 30px;
    line-height: 70px;
}

/* 页头右边部分 */
div.nav-right {
    padding-left: 600px;
    padding-top: 20px;
}

input.search {
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

button.btn {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 20px;
}

/*----------中间内容部分----------*/

/* 左边图片 */
div.tupian {
    width: 500px;
    height: 300px;
    margin-top: 45px;
    float: left;
    border: 1px solid aqua;
}

/* 右边文字 */
div.content-right {
    width: 375px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

div.title {
    padding: 30px 50px;
    cursor: pointer;
    /* border: 2px solid aqua; */
}

div.title p {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(66, 185, 206);
}

div.title p:hover {
    color: cornflowerblue;
}
div.wenzi {
    margin-left: 30px;
}


div.wenzi p {
    padding: 10px 30px 30px 30px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    font-family: "YouYuan", sans-serif;
    width: 18px;
    line-height: 20px;
}

/*----------底部----------*/

div.footer {
    clear: both;
    margin-top: 450px;
    background-color: rgb(66, 185, 206);
}

div.footer p {
    font-family: 'Times New Roman', Times, serif;
}
